<div class="outside">
  <div class="ring">
    <i style="--clr:#042453;"></i>
    <i style="--clr:#9d7406;"></i>
    <i style="--clr:#eef2f2;"></i>
    <form class="login">
      <p-image
        src="../assets/CityScope4.png"
        alt="CityScope Logo"
        width="300"
        height="245">
      </p-image>
      <div class="inputBx">
    <input
        pInputText
        placeholder="Email"
        id="username"
        aria-describedby="username-help"
        [(ngModel)]="email"
        [ngModelOptions]="{standalone: true}"/>
    <small id="username-help">
          <p>Enter your email to reset your password.</p>
    </small>
      </div>
      <div class="button-container">
        <div class="login-button">
        <p-toast />
        <button
          pButton
          pRipple
          label="Reset Password"
          (click)="resetPassword()">
        </button>
        </div>
        <div class="login-button">
        <button
          pButton
          pRipple
          label="Return to login"
          (click)="goBack()">
        </button>
        </div>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>

