<div class="container">
  <p-card class="header-card">
    <div class="card-content">
      <span class="timestamp">{{ currentTime }}</span>

      <!-- Logo and Title -->
      <div class="logo-title">
        <p-image
          src="..\assets\CityScope logo.png"
          alt="CityScope Logo"
          width="50"
          height="50"
          class="logo"
        ></p-image>
        <h2 class="title">CityScope AI</h2>
      </div>

      <div class="settings-button">
        <p-button
        icon="pi pi-cog"
        (click)="openSidebar()" />
        <p-sidebar [(visible)]="sidebarVisible" position="right">
          <h3>Settings</h3>

          <!-- Theme switch -->
          <p-inputSwitch
            class="theme-switch"
            [(ngModel)]="checked"
            (click)="onThemeChange(checked ? 'dark' : 'light')">
          </p-inputSwitch>
          <button
            pButton
            (click)="logout()">Logout</button>
        </p-sidebar>
      </div>
    </div>
  </p-card>
</div>
