<app-header></app-header>
<div class="dashboard-body">
  <p-splitter
  [minSizes]="[12,50]"
  [panelSizes]="[10, 80]"
  styleClass="mb-5">

    <ng-template pTemplate>
        <div class="col flex align-items-center justify-content-center">
          <p-tabView>
            <p-tabPanel header="Heat Maps">
              <app-heatmap-page></app-heatmap-page>
          </p-tabPanel>
            <p-tabPanel
            header="Demographics"
            icon="pi pi-sign-out">
            <app-demographics></app-demographics>
          </p-tabPanel>
            <p-tabPanel header="Data Tables">
              <app-data-tables></app-data-tables>
          </p-tabPanel>
          <p-tabPanel header="Settings">
            <app-settings-page></app-settings-page>
          </p-tabPanel>
        </p-tabView>
        </div>
    </ng-template>
  </p-splitter>
</div>
