<div class="outside">
  <div class="ring">
    <i style="--clr:#042453;"></i>
    <i style="--clr:#9d7406;"></i>
    <i style="--clr:#eef2f2;"></i>
    <form class="login">
      <p-image
        src="../assets/CityScope4.png"
        alt="CityScope Logo"
        width="300"
        height="245"
      ></p-image>
      <div class="inputBx">
        <p-floatLabel>
          <input
            pInputText
            id="email"
            [(ngModel)]="email"
            [ngModelOptions]="{standalone: true}"
          />
          <label for="email">Email</label>
        </p-floatLabel>
      </div>
      <div class="inputBx">
        <p-floatLabel>
          <p-password
            [(ngModel)]="password"
            [ngModelOptions]="{standalone: true}">
          </p-password>
          <label for="password">Password</label>
        </p-floatLabel>
      </div>
      <div class="button-container">
        <div class="login-button">
          <button
            pButton
            pRipple
            label="Login"
            (click)="login()">
          </button>
        </div>
        <div class="login-button">
          <button
            pButton
            pRipple
            label="Sign up"
            (click)="signUp()">
          </button>
        </div>
      </div>
      <!-- Google Sign-In Button -->
      <div class="button-container">
        <div class="login-button">
          <button
            pButton
            pRipple
            label="Sign in with Google"
            (click)="signInWithGoogle()">
          </button>
        </div>
      </div>
      <div class="links">
        <a href="#" (click)="forgotPassword()">Forgot Password?</a>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>
    </form>
  </div>
</div>
